<!-- footer -->
<footer>
  <!-- mcpmediation -->
  <div class="bg-secondary-darken py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
          <p class="mb-0 text-white">En cas de litige : <a href="/mcpmediation" class="text-light">Convention MCP Médiation</a></p> 
        </div>
      </div> 
    </div>
  </div>
  <!-- main footer -->
  <div class="section-footer bg-secondary">
    <div class="container">
      <div class="row justify-content-between">
        <!-- footer contenu -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <!-- logo -->
          <img class="img-fluid" src="{{ .Site.Params.logo_footer | absURL }}" alt="{{ .Site.Title }}">
        </div>
        <div class="col-lg-7">
          <div class="row">
            <!-- contact info -->
            <div class="mb-5" style="padding-left:15px;padding-right:15px">
              <p class="h4 text-white mb-4">{{ i18n "contact_info"}}</p>
              <ul class="list-unstyled">
                <li class="mb-3">
                  <i class="fa fa-phone text-white"></i>
                  <a href="tel:{{ .Site.Params.mobile }}">{{ .Site.Params.mobile }}</a>
                </li>
                <li class="mb-3">
                  <i class="fa fa-envelope text-white"></i>
                  <a href="/contact/">{{ .Site.Params.email }}</a>
                </li>
                <li class="mb-3">
                  <i class="fa fa-map-marker text-white"></i>
                  <p class="mb-0 text-white">Sur RdV dans les locaux du</p>
                  <a href="https://www.google.com/maps/uv?pb=!1s0xd51411fc1b4ff93%3A0x4730d884130b9bb9!3m1!7e115!4s%2Fmaps%2Fplace%2Fphoto%2Bp%25C3%25B4le%2Bsant%25C3%25A9%2Bgare%2Bbayonne%2F%4043.4966175%2C-1.4694981%2C3a%2C75y%2C47.59h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sAWYKc5wNwuROrFCuZMp-8g*212e0*214m2*213m1*211s0xd51411fc1b4ff93%3A0x4730d884130b9bb9%3Fsa%3DX!5sphoto%20p%C3%B4le%20sant%C3%A9%20gare%20bayonne%20-%20Recherche%20Google!15sCgIgAQ&imagekey=!1e2!2sAWYKc5wNwuROrFCuZMp-8g&hl=fr&sa=X&ved=2ahUKEwilvtzFyvn-AhVbXaQEHasSDCIQpx96BAhnEA0" target="_blank" rel="nofollow noopener">{{ .Site.Params.address }}</a>
                </li>
                <li>
                  <i class="fa fa-television text-white"></i>
                  <p class="text-primary" style="font-weight:600">RdV possible en visioconférence ou par téléphone</p>
                </li>
                <li class="mb-3">
                  <i class="fa fa-flag-o text-white"></i>
                  <p class="text-primary" style="font-weight:600">RdV possible en anglais et espagnol</p>
                </li>
              </ul>
            </div>
            {{ if .Site.Params.subscription.enable }}
            {{ with .Site.Params.subscription }}
            <div class="col-12">
              <h4 class="text-white mb-4">{{ i18n "subscribe_newsletter"}}</h4>
              <form action="{{ .mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
                <div class="position-relative">
                  <input type="email" class="form-control border-0 text-white newsletter-form" id="newsletter" name="newsletter" placeholder="Enter your email">
                  <button type="submit" name="subscribe" class="btn btn-primary btn-subscribe">{{ i18n "subscribe"}}</button>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="{{ .mailchimp_form_name }}" tabindex="-1">
                  </div>
                </div>
              </form>
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="bg-secondary-darken py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
          <p class="mb-0 text-white">{{ .Site.Params.copyright | markdownify }}</p>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <ul class="list-inline">
            {{ range .Site.Menus.footer }}
            <li class="list-inline-item mx-0"><a class="d-inline-block px-3 text-white" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      <p class="mb-0 text-light text-center"><a href="https://webplusun.fr/" target="_blank" rel="noopener noreferrer" class="text-light">Ce site éco-responsable est réalisé par <img src="/images/web-plus-un-logo.png" width="100" alt="logo WebPlusUn pour un web plus sain"></a> pour un web plus sain !</p>
      <p class="mb-0 text-light text-center">Pour moi, la préservation de l’environnement est importante. J'héberge mon site chez un <a href="https://www.infomaniak.com/fr/hebergeur-ecologique/charte-ecologique" target="_blank" rel="noopener nofollow noreferrer" class="text-light">hébergeur écologique</a>.</p>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ if .Site.Params.search }}
<script>
  var indexURL = {{"index.json" | absURL}}
</script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<!-- Cookies -->
<script src="../plugins/cookiechoices/cookiechoices.js"></script><script>document.addEventListener('DOMContentLoaded', function(event){cookieChoices.showCookieConsentBar('Ce site utilise des cookies pour vous proposer le meilleur service possible.', 'J’accepte', 'En savoir plus', './mentions-legales/');});</script>
<!-- /Cookies -->

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}
