{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.homepage.parcours }}
<div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="col-md-6">
      <!--div class="section-title-border"></div-->
      <div class="h3 section-title-sm">{{ .subtitle | markdownify }}</div>
      <!--h2 class="section-title">{{ .title | markdownify }}</h2-->
      <p class="mb-5">{{ .content | markdownify }}
      <div>
        <ul class="list-styled style-circle">
          <li class="mb-3">1997 : <a href="images/about/Diplome-assistante-sociale.jpg" target="_blank">assistante sociale diplômée</a> de l’Institut du Travail Social de Pau.</li>
          <li class="mb-3">2017-2020 : <a href="images/about/Diplome-Stephanie-Lacassagne-Praticien.jpg" target="_blank">sexologue clinicienne diplômée</a> de l’école de Psycho Sexologie de Paris la Défense. <a href="images/Stephanie-Lacassagne-memoire-min.pdf"  target="_blank">Mon mémoire de fin de formation</a> était dédié à l’acceptation de l’homosexualité. Je suis affiliée au <a href="https://www.snsc.fr/people" target="_blank" rel="nofollow noopener">Syndicat National des Sexologues Cliniciens</a>.</li>
          <li class="mb-3">2018 : <a href="images/about/Diplome-EFT.jpg" target="_blank">praticienne EFT</a> (Emotional Freedom Technique) diplômée de l’IFPEC (Institut Français de Psychothérapie Emotionnelle et Cognitive)</li>
          <li class="mb-3">2019 : <a href="images/about/Diplome-Matrix.jpg" target="_blank">praticienne Matrix Reimprinting</a> (ré encodage de la matrice) diplômée de l’IFPEC (Institut Français de Psychothérapie Emotionnelle et Cognitive).</li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 bg-contain" data-background="{{ .bg_image | absURL }}">
      {{ "<!-- diplôme -->" | safeHTML }}
      <img class="img-fluid w-100 box-shadow" src="{{ .image_webp | absURL }}" onerror="this.src='{{.image | absURL }}'" alt="About Image">
    </div>
  </div>
</div>
{{ end }}