{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section-hero bg-cover overlay" style="background-image: url('{{ .Params.Bg_image_webp | absURL }}'),url('{{ .Params.Bg_image | absURL }}'),url('{{ `images/backgrounds/hero-eft-matrix.jpg` | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white mb-3">Convention MCP Médiation</h1>
      </div>
    </div>
  </div>
</section>

<div class="container" style="padding-top:30px">
  <div  class="justify-content-between align-items-center">
    <p class="mb-5 text-center text-primary" style="font-size:1em;">REGLEMENT AMIABLE DES LITIGES - MEDIATION DE LA CONSOMMATION<br>
Conformément aux dispositions des articles L 611-1 et R 612-1 et suivants du Code de la Consommation concernant le règlement amiable des litiges :<br>
Lorsque le consommateur a adressé une réclamation écrite au professionnel et qu'il n'a pas obtenu satisfaction ou de réponse dans un délai de deux mois, il peut soumettre gratuitement sa réclamation au médiateur de la consommation. Le médiateur doit être saisi dans le délai maximal d'un an à compter de la réclamation initiale.<br>
Le médiateur MCP MEDIATION peut être saisi directement en ligne à l'adresse suivante : <a href="www.mcpmediation.org" target="_blank" rel="nofollow noopenner">www.mcpmediation.org</a> ou par courrier
MÉDIATION DE LA CONSOMMATION et PATRIMOINE - 12 Square Desnouettes - 75015 PARIS</p>
    <p class="mb-5 text-center text-primary" style="font-size:1em;">Vous trouverez ci-dessous le contrat de médiation concernant la solution de médiation choisie en cas de litige.</p>
    <img src="/uploads/Convention-MCPmediation-Stephanie-Lacassagne.pdf" class="img-fluid" alt="Convention MCP Médiation" style="float:center;" data-aos="fade-up" loading="lazy" decoding="async" width="100%" height="auto">
  </div>
</div>

{{ end }}
