{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section-hero bg-cover overlay" style="background-image: url('{{ .Params.Bg_image_webp | absURL }}'),url('{{ .Params.Bg_image | absURL }}'),url('{{ `images/backgrounds/hero-sexologie.jpg` | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white mb-3">{{ .Title }}</h1>
      </div>
    </div>
  </div>
</section>

<div class="container" style="padding-top:30px">
  <div  class="justify-content-between align-items-center">
    <p class="mb-0 text-center text-secondary" style="font-size:1.5em;"><i>"Le sexe est une sujet sérieux qu’il faut traiter avec légèreté, et inversement."</i></p>
    <p class="mb-0" style="text-align:right;">Le Cabinet de Curiosité Féminine</p>
  </div>
</div>

{{ with $data.sexologie.intro }}
<section class="section">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-7">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p class="mb-5">{{ .content | markdownify }}
      </div>
      <div class="col-md-4 bg-contain" data-background="{{ .bg_image | absURL }}">
        {{ "<!-- intro -->" | safeHTML }}
        <img class="img-fluid w-100 box-shadow" src="{{ .image_webp | absURL }}" onerror="this.src='{{.image | absURL }}'" alt="">
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with $data.sexologie.pourquoi }}
<section class="section bg-primary" id="1">
  <div class="container">
    <div class="justify-content-between align-items-center">
      <h3 class="section-title" style="color:#e27174">{{ .title | markdownify }}</h3>
      <p class="mb-5" style="color:#fff">{{ .content | markdownify }}
      <div style="column-count: 3;column-width: 20em">
        <ul class="list-styled style-circle">
          {{ range .bullet_point }}
          <li class="mb-3" style="color:#fff">{{ . | markdownify }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with $data.sexologie.deroulement }}
<section class="section" id="2">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-7">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p class="mb-5">{{ .content | markdownify }}
      </div>
      <div class="section col-md-4 bg-secondary">
        {{ "<!-- Tarifs -->" | safeHTML }}
        <h3>Tarifs :</h3>
        <p class="mb-3 text-white">{{ .tarifs | markdownify }}</p>
        <h3>Lieu de consultation :</h3>
        <p class="mb-3 text-white">{{ .lieu | markdownify }}</p>
        <a href="{{ .lien }}" rel="noopener noreferrer nofollow" target="_blank">
          <img class="img-fluid box-shadow" width="250" src="{{ .image | absURL }}" alt="{{ .alt | markdownify }}">
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with $data.sexologie.ateliers }}
<section class="section bg-gray" id="3">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-4 bg-contain">
        {{ "<!-- ateliers -->" | safeHTML }}
        <a href="{{ .lien }}" rel="noopener noreferrer nofollow" target="_blank">
          <img class="img-fluid w-100 box-shadow" src="{{ .image_webp | absURL }}" onerror="this.src='{{.image | absURL }}'" alt="{{ .alt | markdownify }}">
        </a>
      </div>
      <div class="col-md-7">
        <h3 class="section-title">{{ .title | markdownify }}</h3>
        <p class="mb-5">{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}



{{ with $data.sexologie.professionnels }}
<section class="section" id="4">
  <div class="container">
    <div class="justify-content-between align-items-center">
      <div>
        <h3 class="section-title">{{ .title | markdownify }}</h3>
        <p class="mb-5">{{ .content | markdownify }}
        <div>
        <ul class="list-styled style-circle">
          {{ range .bullet_point }}
          <li class="mb-3">{{ . | markdownify }}</li>
          {{ end }}
        </ul>
      </div>
      {{ with $data.sexologie.professionnels }}
      <p class="mb-5">{{ .content | markdownify }}
      {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ if $data.about.about.enable }}
{{ "<!-- about us -->" | safeHTML }}
<section class="section">
  {{ partial "about.html" . }}
</section>
{{ "<!-- /about us -->" | safeHTML }}
{{ end }}

{{ if $data.about.service.enable }}
{{ partial "service.html" . }}
{{ end }}

{{ if $data.homepage.team.enable }}
{{ partial "team.html" . }}
{{ end }}

{{ end }}