{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section-hero bg-cover overlay" style="background-image: url('{{ .Params.Bg_image_webp | absURL }}'),url('{{ .Params.Bg_image | absURL }}'),url('{{ `images/backgrounds/hero-eft-matrix.jpg` | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white mb-3">Page introuvable</h1>
      </div>
    </div>
  </div>
</section>

<div class="container" style="padding-top:30px">
  <div  class="justify-content-between align-items-center">
    <p class="mb-0 text-center text-primary" style="font-size:1.5em;"><i>"Oups ! Cette page n'existe pas."</i></p>
  </div>
</div>

{{ end }}