/*  typography */
@import url('https://fonts.googleapis.com/css?family=Calibri:300,400,500,600,700|Open+Sans:300,400,600,700');

body {
  line-height: 1.6;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 15px;
  line-height: 1.6;
  font-family: $primary-font;
}

.pourquoi {
  font-weight: 400;
  color: $white;
  font-size: 15px;
  line-height: 1.6;
  font-family: $primary-font;
}

h1,h2,h3,h4,h5,h6 {
  color: $primary-color;
  font-family: $secondary-font;
  font-weight: 600;
  line-height: 1.2;
  transition: .2s ease;
}

h1, .h1{
  font-size: 4em;
}

h2, .h2{
  font-size: 2.3em;
}

h3, .h3{
  font-size: 2em;
}

h4, .h4{
  font-size: 1.8em;
}

h5, .h5{
  font-size: 1em;
}

h6, .h6{
  font-size: 0.5em;
}

// EN-TETE /////////////////////////////////////////////////////////////////////////////////////////////////

.hero-slider h1 {
  color:$primary-color;
}

.hero-slider h2 {
  color:$white;
}

// BANDEAU /////////////////////////////////////////////////////////////////////////////////////////////////

.banner-feature-wrapper h3 {
  color:$primary-color;
  font-size: 1.5em;
}

// DEVICES /////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.8em;
  }
}






