{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "page-title.html" . }}

{{ "<!-- contact items -->" | safeHTML }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      {{ "<!-- Addresses -->" | safeHTML }}
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fa fa-map-marker text-primary icon-lg mb-4"></i>
          <h2 class="h4 mb-4">{{ i18n "address" }}</h2>
          <p><a href="https://www.google.com/maps/place/EKITEGIA+-+Baiona+Ko+working/@43.4864323,-1.4676364,17z/data=!3m1!4b1!4m5!3m4!1s0xd5141fa6210819f:0x28297d2aecf736c6!8m2!3d43.4864323!4d-1.4654477" target="_blank" rel="nofollow noopener">{{ .Site.Params.address }}</a></p>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fa fa-phone text-primary icon-lg mb-4"></i>
          <h2 class="h4 mb-4">{{ i18n "phone" }}</h2>
          <p><a href="tel:{{ .Site.Params.mobile }}">{{ .Site.Params.mobile }}</a></p>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fa fa-envelope text-primary icon-lg mb-4"></i>
          <h2 class="h4 mb-4">{{ i18n "email" }}</h2>
          <p><a href="mailto:{{ .Site.Params.email }}" target="_blank">{{ .Site.Params.email }}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact item -->" | safeHTML }}

{{ if $data.homepage.contact.enable }}
{{ with $data.homepage.contact }}
{{ "<!-- contact -->" | safeHTML }}
<div>
  <div class="container">
    <div class="row p-5">
      {{ range .contact }}
      {{ "<!-- contact item -->" | safeHTML }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="d-flex align-items-center">
          <a href="{{ .lien }}" rel="noopener noreferrer nofollow" target="_blank">
          <img class="img-fluid w-100" src="{{ .image_webp | absURL }}" onerror="this.src='{{.image | absURL }}'" alt="{{ .alt | markdownify }}">
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ "<!-- /contact -->" | safeHTML }}
{{ end }}
{{ end }}
