{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "page-title.html" . }}

{{ "<!-- contact items -->" | safeHTML }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      {{ "<!-- Addresses -->" | safeHTML }}
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fa fa-map-marker text-primary icon-lg mb-4"></i>
          <h2 class="h4 mb-4">{{ i18n "address" }}</h2>
          <p><a href="https://www.google.com/maps/place/EKITEGIA+-+Baiona+Ko+working/@43.4864323,-1.4676364,17z/data=!3m1!4b1!4m5!3m4!1s0xd5141fa6210819f:0x28297d2aecf736c6!8m2!3d43.4864323!4d-1.4654477" target="_blank" rel="nofollow noopener">{{ .Site.Params.address }}</a></p>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fa fa-phone text-primary icon-lg mb-4"></i>
          <h2 class="h4 mb-4">{{ i18n "phone" }}</h2>
          <p><a href="tel:{{ .Site.Params.mobile }}">{{ .Site.Params.mobile }}</a></p>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fa fa-envelope text-primary icon-lg mb-4"></i>
          <h2 class="h4 mb-4">{{ i18n "email" }}</h2>
          <p><a href="mailto:{{ .Site.Params.email }}" target="_blank">{{ .Site.Params.email }}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact item -->" | safeHTML }}

{{ "<!-- contact form and map -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h3 class="section-title">{{ i18n "contact_form" }}</h3>
        <form action="{{ .Site.Params.contact_form_action }}" method="POST" class="row" enctype="text/plain">
          <div class="col-md-6">
            <input type="text" name="nom" id="name" class="form-control border-0 rounded-0 box-shadow mb-4"
              placeholder="Nom">
          </div>
          <div class="col-md-6">
            <input type="email" name="email" id="mail" class="form-control border-0 rounded-0 box-shadow mb-4"
              placeholder="eMail">
          </div>
          <div class="col-md-6">
            <input type="text" name="phone" id="phone" class="form-control border-0 rounded-0 box-shadow mb-4"
              placeholder="Téléphone">
          </div>
          <div class="col-md-6">
            <input type="text" name="sujet" id="subject" class="form-control border-0 rounded-0 box-shadow mb-4"
              placeholder="Sujet">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control border-0 rounded-0 box-shadow mb-5 py-3 px-4"
              placeholder="Message"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" value="send" class="btn btn-primary hover-ripple">{{ i18n "send" }}</button>
          </div>
        </form>
      </div>
      <div class="col-md-5 mb-5 mb-md-0">
        <img class="img-fluid w-100 box-shadow" src="images/about/carte-viste-EFT.jpg" alt="Cartes de visite EFT par Stéphanie Lacassagne">
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact form and map -->" | safeHTML }}

{{ end }}